.btn {
    border: none;
    padding: 0 1.5rem;
    display: block;
    background-color: var(--red);
    color: white;
    font-weight: 700;
    transition: transform 0.3s ease;
}
.btn:hover {
    cursor: pointer;
}
.btn:active {
    transform: scale(0.9);
}

.btn-small {
    height: 3.5rem;
    border-radius: 3rem;
}

.btn-medium,
.btn-habilitar,
.btn-buscar-restaurantes {
    height: 4rem;
    border-radius: 3.2rem;
}

.btn-add {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-substraction {
    width: 2.6rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border: 2px solid var(--red);
}
