.divisor-bar-medium {
    width: 70rem;
    margin: 0 auto;
    border: solid var(--black) 0.5px;
}

.divisor-bar-long {
    width: 100rem;
    margin: 0 auto;
    border: solid var(--black) 0.5px;
}
