.hero {
    height: 50rem;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: url("../../../public/assets/bg-image.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    background: linear-gradient(
            rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, 0.1)
        ),
        url("../../../public/assets/bg-image.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
    text-shadow: 0.1em 0.1em 0.2em black;
}

h1 {
    font-size: var(--topHeaderFontSize);
}

p {
    width: 80rem;
    margin-top: 3rem;
    line-height: 2.5rem;
    font-size: 1.8rem;
}
